
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

{% if session['can_add'] %}

      <form action="{{ url_for('addrec') }}"  method="POST">
         <h3>Secret Agent Information</h3>
         Name<br>
         <input type="text" name="AgentName" ><br>
         
         Alias<br>
         <input type="text" name="AgentAlias"><br>

         Security Level<br>
         <input type="text" name="AgentSecurityLevel"><br>
         
         Login Password<br>
         <input type="password" name="LoginPassword"><br>

         <input type="submit" value="submit"><br>
      </form>

{% endif %}

{% if session['logged_in'] %}
      <h2><a href="/">Go back to home page</a></h2>
{% endif %}

</body>
</html>